#fullContainer {
	width: 100%
	height: auto;
}

#centeredContainer {
	width: 700px;
	height: 770px;
	margin: 0 auto;
	background-color: #F7F7F7;
	padding: 10px;
}

.time {
	height: 30px;
	font-size: 10px;
	color: lightgrey;
	text-align: right;
}

.time span {
	font-size: 15px;
	font-weight: bold;
	color: grey;
	margin-right: 5px;
}

#timeContainer {
	float: left;
	position: relative;
	width: 70px;
}

.event {
	/*border: solid 1px grey;
	border-left: solid 3px purple;*/
	background-color: lightblue;
	overflow: hidden;
	position: absolute;
	float: left;
	box-shadow: 1px 0px 60px -22px black;

}
#eventContainer {
	position: relative;
	width: 630px;
	float: left;
}